mat-card
{
  width: 80%;
  background-color:white;
  margin: 0px;
}
mat-form-field,textarea
{
    width: 100%;
}
mat-spinner
{
  margin: auto;
}
input[type="file"]
{
  visibility: hidden;
}
.image-view
{
    height: 5rem;
    margin: 1rem 0;
}
.image-view img
{
  height: 100%;
}

